[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "==1.26.165"
django = "==4.2.*"
djangorestframework = "==3.14.0"
openai = "==0.27.8"

[dev-packages]
black = "*"

[deploy]
fabric = "==3.*"
ansible = "==8.*"

[server]
gunicorn = "==20.*"
