<!DOCTYPE html>
<html>
<head>
  <title>Juttukaveri</title>
  <style>
    body {
      text-align: center;
      font-family: sans-serif;
    }
    .red-bg {
      background-color: #ff2222;
    }

    h1 {
      font-size: xxx-large;
      text-transform: uppercase;
    }

    h2 {
      font-size: xx-large;
      text-transform: uppercase;
    }

    label {
      font-size: x-large;
      text-transform: uppercase;
    }

    button {
      font: inherit;
      font-size: xx-large;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      width: 90%;
      color: white;
      padding: 6rem 2rem;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
      margin: 0 0.5rem 0 0;
    }

    .response {
      background-color: #bbbbbb;
      font-size: large;
    }

    .transcribed {
      background-color: #eeeeee;
      font-size: large;
    }

    #startButton {
      background-color: #00aa00;
      border: 2px solid #00aa00;
    }

    #stopButton {
      background-color: #cc0000;
      border: 2px solid #cc0000;
    }
  </style>
</head>
<body>
  <div id="content">
    <h1>Juttukaveri</h1>

    <h2 id="statusText" class="white-bg"></h2>

    <p>
      <button id="startButton">Aloita nauhoitus</button>
      <button id="stopButton" hidden>Lopeta nauhoitus</button>
      <button id="playButton" hidden>Tervehdys</button>
    </p>
    <p>
      <input type="checkbox" id="echoCheckbox" name="echo">
      <label for="echoCheckbox">Vain kaiutus</label>
    </p>
    <div id="chatBox"></div>
  </div>
  <script>
    let audioContext;
    let mediaRecorder;
    let chunks = [];
    let status = 'ready';
    let echo = '';

    const startButton = document.getElementById('startButton');
    const stopButton = document.getElementById('stopButton');
    const playButton = document.getElementById('playButton');
    const echoCheckbox = document.getElementById('echoCheckbox');
    const statusText = document.getElementById('statusText');
    const chatBox = document.getElementById('chatBox');

    function initializeContext() {
      const age = 3
      const greet = 'Hei! Kuka sinä olet?'
      const context = `
        Olet ystävällinen lastenopettaja. Keskustelet ${age}-vuotiaan lapsen kanssa.
        Pidä vastaukset lyhyinä ja yksinkertaisina, lapsella on lyhyt keskittymiskyky eikä
        jaksa kuunnella kovin pitkiä vastauksia.
        Vältä vaikeita sanoja.`

      const responseContainer = document.createElement("p");
      responseContainer.classList.add('response')
      responseContainer.innerHTML = greet;
      chatBox.appendChild(responseContainer);

      return [
        {'role': 'system', 'content': context},
        {'role': 'assistant', 'content': greet},
      ];
    }

    const messages = initializeContext()
    console.log(messages)

    function startRecording() {
      navigator.mediaDevices.getUserMedia({ audio: true })
        .then(function(stream) {
          audioContext = new AudioContext();
          const options = {
            mimeType: "audio/webm"
          }
          mediaRecorder = new MediaRecorder(stream, options);
          status = 'recording';
          startButton.setAttribute('hidden', '');
          stopButton.removeAttribute('hidden');
          statusText.innerHTML = 'Tallennus käynnissä';
          statusText.classList.add('red-bg')
          mediaRecorder.addEventListener('dataavailable', function(event) {
            chunks.push(event.data);
          });

          mediaRecorder.addEventListener('stop', function() {
            status = 'processing';
            stopButton.setAttribute('disabled', '');

            statusText.innerHTML = 'Odota hetki, kun mietin.';
            statusText.classList.remove('red-bg');
            const audioBlob = new Blob(chunks, { type: 'audio/mpeg' });
            // const audioURL = URL.createObjectURL(audioBlob);
            // const audio = new Audio(audioURL);
            // audio.controls = true;
            // document.body.appendChild(audio);
            submitRecording(audioBlob);
          });

          mediaRecorder.start();
        })
        .catch(function(error) {
          statusText.innerHTML = 'Error accessing microphone:' + error
          console.error('Error accessing microphone:', error);
        });
    }

    function stopRecording() {
      mediaRecorder.stop();
      status = 'stopped';
      chunks = [];
      audioContext.close();
    }

    function submitRecording(audioBlob) {
      playWaitASecond();
      const formData = new FormData();
      formData.append('audio', audioBlob);
      formData.append('messages', JSON.stringify(messages));
      formData.append('echo', echo);
      const url = '/api01/submit_audio'
      fetch(url, {
        method: 'POST',
        body: formData,
      })
      .then(function(response) {
        return response.json();
      })
      .then(function(data) {
        console.log(data)
        const transcription = data['transcript'];
        const responseText = data['responseText'];
        console.log('Transcription:', transcription);
        document.getElementById('statusText').innerHTML = 'Valmis';
        startButton.removeAttribute('hidden');
        stopButton.removeAttribute('disabled');
        stopButton.setAttribute('hidden', '');

        const transcribedContainer = document.createElement("p");
        transcribedContainer.classList.add('transcribed')
        transcribedContainer.innerHTML = transcription;
        const responseContainer = document.createElement("p");
        responseContainer.classList.add('response')
        responseContainer.innerHTML = responseText;
        chatBox.prepend(transcribedContainer);
        chatBox.prepend(responseContainer);

        messages.push({ 'role': 'user', 'content': transcription })
        messages.push({ 'role': 'assistant', 'content': responseText })
        playResponse(data['audioUrl']);
        console.log(messages);
        status = 'ready';
        document.getElementById('statusText').innerHTML = 'Valmis';
      })
      .catch(function(error) {
        console.error('Error:', error);
        status = 'error';
      });
    }

    function playGreeting() {
      const audioUrl = 'https://public-bucket-jk.s3.eu-central-1.amazonaws.com/hei_kuka_sina_olet.mp3';
      const audio = new Audio(audioUrl);
      audio.play();
    }

    function playWaitASecond() {
      const audioUrl = 'https://public-bucket-jk.s3.eu-central-1.amazonaws.com/odota_hetki_kun_mietin.mp3';
      const audio = new Audio(audioUrl);
      audio.play();
    }

    function playResponse(audioUrl) {
      const audio = new Audio(audioUrl);
      audio.play();
    }

    function keyDownHandler(event) {
      console.log('Pressed key', event.code)
      if (event.code === 'Space') {
        if (status === 'ready') {
          startRecording()
        }
      }
    }

    function keyUpHandler(event) {
      console.log('Released key', event.code)
      if (event.code === 'Space') {
        if (status === 'recording') {
          stopRecording()
        }
      }
    }

    startButton.addEventListener('click', startRecording);
    stopButton.addEventListener('click', stopRecording);
    playButton.addEventListener('click', playGreeting);
    echoCheckbox.addEventListener('change', () => {
      if (echoCheckbox.checked) {
        echo = 'Yes';
      } else {
        echo = '';
      }
    });
    document.addEventListener("DOMContentLoaded", playGreeting);
    document.addEventListener("keydown", keyDownHandler);
    document.addEventListener("keyup", keyUpHandler);
    document.getElementById('statusText').innerHTML = 'Valmis';
  </script>
</body>
</html>
