<!DOCTYPE html>
<html>
<head>
  <title>Juttukaveri</title>
  <style>
    body {
      text-align: center;
      font-family: sans-serif;
    }
    .red-bg {
      background-color: #ff2222;
    }

    h1 {
      font-size: xxx-large;
      text-transform: uppercase;
    }

    h2 {
      font-size: xx-large;
      text-transform: uppercase;
    }

    label {
      font-size: x-large;
      text-transform: uppercase;
    }

    .largeButton {
      font: inherit;
      font-size: xx-large;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      width: 100%;
      color: white;
      padding: 6rem 2rem;
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.26);
      margin: 0 0.5rem 0 0;
    }

    button:disabled {
      color: #cccccc;
      box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    }
    .response {
      background-color: #bbbbbb;
      font-size: large;
    }

    .transcribed {
      background-color: #eeeeee;
      font-size: large;
    }

    #startButton, #beginChatButton {
      background-color: #00aa00;
      border: 2px solid #00aa00;
    }

    #stopButton {
      background-color: #cc0000;
      border: 2px solid #cc0000;
    }
  </style>
</head>
<body>
  <div id="content">
    <h1>Juttukaveri</h1>

    <h2 id="statusText" class="white-bg"></h2>

    <p id="instructions">
      Tämä on äänikäyttöliittymä OpenAI:n ChatGPT:lle. Suunnattu lähinnä lapsille,
      koska tekstikäyttöliittymä on hieman hankala, jos ei osaa vielä lukea tai kirjoittaa.
      Paina alla olevaa nappia aloittaaksesi.
    </p>
    <p>
      <button class="largeButton" id="beginChatButton">Aloita keskustelu</button>
      <button class="largeButton" id="startButton" hidden>Aloita nauhoitus</button>
      <button class="largeButton" id="stopButton" hidden>Lopeta nauhoitus</button>
    </p>
    <p>
      <span style="margin-right: 5rem">
        <input type="checkbox" id="echoCheckbox" checked=False" name="echo">
        <label for="echoCheckbox">Kaiku</label>
        <span> - Vain toistaa, mitä kuulee. Ei käytä ChatGPT:tä.</span>
      </span>
      <button class="right" id="playButton">Toista alkutervehdys</button>
      <button class="right"
              id="clearContextButton"
              title="Poistaa kontekstin, jossa ChatGPT alustetaan vastaamaan lapselle. Sen sijaan se vastaa kuten normaalisti aikuisille."
              disabled>
        Poista alustus lapselle
      </button>
      <label for="selectLanguageMenu">Valitse kieli:</label>
      <select name="language" id="selectLanguageMenu">
        <option value="fi-FI">Suomi</option>
        <option value="en-US">English</option>
        <option value="cmn-CN">Mandarin</option>
      </select>
    </p>
    <div id="chatBox"></div>
  </div>
  <script>
    let audioContext;
    let mediaRecorder;
    let chunks = [];
    let status = 'ready';
    let echo = '';
    let messages = [];
    let language = 'fi-FI';
    let sessionId = '';

    const startButton = document.getElementById('startButton');
    const stopButton = document.getElementById('stopButton');
    const playButton = document.getElementById('playButton');
    const beginChatButton = document.getElementById('beginChatButton');
    const clearContextButton = document.getElementById('clearContextButton');
    const echoCheckbox = document.getElementById('echoCheckbox');
    const selectLanguageMenu = document.getElementById('selectLanguageMenu');
    const statusText = document.getElementById('statusText');
    const chatBox = document.getElementById('chatBox');

    function initializeContext(language) {
      const age = 3
      let greet = ''
      let context = ''
      if (language === 'en-US') {
        greet = 'Hello! Who are you?'
        context = `You are a friendly kindergarten teacher. You are chatting with ${age} year old child.`
      } else if (language === 'fi-FI') {
        greet = 'Hei! Kuka sinä olet?'
        context = `Olet ystävällinen lastenopettaja. Keskustelet ${age}-vuotiaan lapsen kanssa.
          Pidä vastaukset lyhyinä ja yksinkertaisina, lapsella on lyhyt keskittymiskyky eikä
          jaksa kuunnella kovin pitkiä vastauksia.
          Vältä vaikeita sanoja.`
      }
      const responseContainer = document.createElement("p");
      responseContainer.classList.add('response')
      responseContainer.innerHTML = greet;
      chatBox.appendChild(responseContainer);
      console.log('Initialized context:', context)
      return [
        {'role': 'system', 'content': context},
        {'role': 'assistant', 'content': greet},
      ];
    }

    // console.log(messages)
    function beginChat() {
      playGreeting();
      startSession();
      beginChatButton.setAttribute('hidden', '');
      startButton.removeAttribute('hidden');
      clearContextButton.removeAttribute('disabled');
      const instructionsElement = document.getElementById('instructions');
      instructionsElement.innerHTML = `Paina alla olevaa nappia aloittaaksesi nauhoituksen ja kun olet valmis, paina
      pysäytysnappia lopettaaksesi nauhoituksen. Vaihtoehtoisesti voit aloittaa nauhoituksen painamalla välilyönnin
      pohjaan ja päästää sen ylös, kun olet valmis.  Sen jälkeen tallenne lähetetään ChatGPT:lle ja jonkin ajan kuluttua
      pitäisi kuulua vastaus.`
      messages = initializeContext(language)
    }

    function startRecording() {
      navigator.mediaDevices.getUserMedia({ audio: true })
        .then(function(stream) {
          audioContext = new AudioContext();
          const options = {
            mimeType: "audio/webm"
          }
          mediaRecorder = new MediaRecorder(stream, options);
          status = 'recording';
          startButton.setAttribute('hidden', '');
          stopButton.removeAttribute('hidden');
          statusText.innerHTML = 'Tallennus käynnissä';
          statusText.classList.add('red-bg')
          mediaRecorder.addEventListener('dataavailable', function(event) {
            chunks.push(event.data);
          });

          mediaRecorder.addEventListener('stop', function() {
            status = 'processing';
            stopButton.setAttribute('disabled', '');
            statusText.innerHTML = 'Odota hetki, kun mietin.';
            statusText.classList.remove('red-bg');
            const audioBlob = new Blob(chunks, { type: 'audio/mpeg' });
            // const audioURL = URL.createObjectURL(audioBlob);
            // const audio = new Audio(audioURL);
            // audio.controls = true;
            // document.body.appendChild(audio);
            submitRecording(audioBlob);
          });

          mediaRecorder.start();
        })
        .catch(function(error) {
          statusText.innerHTML = 'Error accessing microphone:' + error
          console.error('Error accessing microphone:', error);
        });
    }

    function stopRecording() {
      mediaRecorder.stop();
      status = 'stopped';
      chunks = [];
      audioContext.close();
    }

    function submitRecording(audioBlob) {
      playWaitASecond();
      const formData = new FormData();
      formData.append('audio', audioBlob);
      formData.append('messages', JSON.stringify(messages));
      formData.append('echo', echo);
      formData.append('language', language);
      formData.append('session', sessionId);
      const url = '/api01/submit_audio'
      console.log('submitAudio url:', url)
      console.log('data:', formData)
      fetch(url, {
        method: 'POST',
        body: formData,
      })
      .then(function(response) {
        return response.json();
      })
      .then(function(data) {
        console.log(data)
        const transcription = data['transcript'];
        const responseText = data['responseText'];
        console.log('Transcription:', transcription);
        document.getElementById('statusText').innerHTML = 'Valmis';
        startButton.removeAttribute('hidden');
        startButton.setAttribute('disabled', '');
        stopButton.removeAttribute('disabled');
        stopButton.setAttribute('hidden', '');
        const transcribedContainer = document.createElement("p");
        transcribedContainer.classList.add('transcribed')
        transcribedContainer.innerHTML = transcription;
        const responseContainer = document.createElement("p");
        responseContainer.classList.add('response')
        responseContainer.innerHTML = responseText;
        chatBox.prepend(transcribedContainer);
        chatBox.prepend(responseContainer);

        messages.push({ 'role': 'user', 'content': transcription })
        messages.push({ 'role': 'assistant', 'content': responseText })
        playResponse(data['audioUrl']);
        console.log(messages);
        status = 'ready';
        document.getElementById('statusText').innerHTML = 'Valmis';
      })
      .catch(function(error) {
        console.error('Error:', error);
        status = 'error';
      });
    }

    function enableRecord() {
      startButton.removeAttribute('disabled');
    }

    function startSession() {
      const url = '/api01/start_session';
      const formData = new FormData();
      console.log('startSession url:', url);
      fetch(url, {
        method: 'POST',
        body: formData,
      })
      .then(function(response) {
        return response.json();
      })
      .then(function(data) {
        console.log(data)
        sessionId = data['id']
        console.log('sessionId', sessionId)
      })
    }

    function playGreeting() {
      const audioUrl = 'https://public-bucket-jk.s3.eu-central-1.amazonaws.com/hei_kuka_sina_olet.mp3';
      const audio = new Audio(audioUrl);
      startButton.setAttribute('disabled', '')
      audio.addEventListener('ended', enableRecord)
      audio.play();
    }

    function playWaitASecond() {
      const audioUrl = 'https://public-bucket-jk.s3.eu-central-1.amazonaws.com/odota_hetki_kun_mietin.mp3';
      const audio = new Audio(audioUrl);
      audio.play();
    }

    function playResponse(audioUrl) {
      const audio = new Audio(audioUrl);
      audio.addEventListener('ended', enableRecord)
      audio.play();
    }

    function keyDownHandler(event) {
      console.log('Pressed key', event.code)
      if (event.code === 'Space') {
        if (status === 'ready') {
          startRecording()
        }
      }
    }

    function keyUpHandler(event) {
      console.log('Released key', event.code)
      if (event.code === 'Space') {
        if (status === 'recording') {
          stopRecording()
        }
      }
    }

    function clearContext() {
      messages = []
    }

    beginChatButton.addEventListener('click', beginChat);
    startButton.addEventListener('click', startRecording);
    stopButton.addEventListener('click', stopRecording);
    playButton.addEventListener('click', playGreeting);
    clearContextButton.addEventListener('click', clearContext);
    echoCheckbox.addEventListener('change', () => {
      if (echoCheckbox.checked) {
        echo = 'Yes';
      } else {
        echo = '';
      }
    });
    selectLanguageMenu.addEventListener('change', (event) => {
      language = event.target.value
      console.log('New language:', language)
      messages = initializeContext(language)
    });
    // document.addEventListener("DOMContentLoaded", playGreeting);
    document.addEventListener("keydown", keyDownHandler);
    document.addEventListener("keyup", keyUpHandler);
    document.getElementById('statusText').innerHTML = 'Valmis';
  </script>
</body>
</html>
