<!DOCTYPE html>
<html>
<head>
  <title>Juttukaveri</title>
  <style>
    body {
      text-align: center;
    }
    .red-bg {
      background-color: #ff2222;
    }
  </style>
</head>
<body>
  <div id="content">
    <h1>Juttukaveri</h1>

    <h2 id="statusText" class="white-bg"></h2>

    <button id="startButton">Aloita nauhoitus</button>
    <button id="stopButton">Lopeta nauhoitus</button>
    <button id="playButton">Tervehdys</button>
    <input type="checkbox" id="echoCheckbox" name="echo">
    <label for="echoCheckbox">Vain kaiutus</label>
    <p id="transcribedText"></p>
    <p id="responseText"></p>
  </div>
  <script>
    let audioContext;
    let mediaRecorder;
    let chunks = [];
    let status = 'ready';
    let echo = '';

    function initializeContext() {
      const age = 4
      const greet = 'Hei! Kuka sinä olet?'
      const context = 'Olet ystävällinen lastenopettaja. Keskustelet ' + age + '-vuotiaan lapsen kanssa.'
      return [
        {'role': 'system', 'content': context},
        {'role': 'assistant', 'content': greet},
      ];
    }

    const messages = initializeContext()
    console.log(messages)

    function startRecording() {
      navigator.mediaDevices.getUserMedia({ audio: true })
        .then(function(stream) {
          audioContext = new AudioContext();
          const options = {
            mimeType: "audio/webm"
          }
          mediaRecorder = new MediaRecorder(stream, options);
          status = 'recording';
          document.getElementById('statusText').innerHTML = 'Tallennus käynnissä';
          document.getElementById('statusText').classList.add('red-bg')
          mediaRecorder.addEventListener('dataavailable', function(event) {
            chunks.push(event.data);
          });

          mediaRecorder.addEventListener('stop', function() {
            status = 'processing';
            document.getElementById('statusText').innerHTML = 'Odota hetki, kun mietin.';
            document.getElementById('statusText').classList.remove('red-bg')
            const audioBlob = new Blob(chunks, { type: 'audio/mpeg' });
            // const audioURL = URL.createObjectURL(audioBlob);
            // const audio = new Audio(audioURL);
            // audio.controls = true;
            // document.body.appendChild(audio);
            submitRecording(audioBlob);
          });

          mediaRecorder.start();
        })
        .catch(function(error) {
          document.getElementById('statusText').innerHTML = 'Error accessing microphone:' + error
          console.error('Error accessing microphone:', error);
        });
    }

    function stopRecording() {
      mediaRecorder.stop();
      status = 'stopped';
      chunks = [];
      audioContext.close();
    }

    function submitRecording(audioBlob) {
      playWaitASecond();
      const formData = new FormData();
      formData.append('audio', audioBlob);
      formData.append('messages', JSON.stringify(messages));
      formData.append('echo', echo);
      const url = '/api01/submit_audio'
      fetch(url, {
        method: 'POST',
        body: formData,
      })
      .then(function(response) {
        return response.json();
      })
      .then(function(data) {
        console.log(data)
        const transcription = data['transcript'];
        const responseText = data['responseText'];
        console.log('Transcription:', transcription);
        document.getElementById('statusText').innerHTML = 'Valmis';
        document.getElementById('transcribedText').innerHTML = transcription;
        document.getElementById('responseText').innerHTML = responseText;
        messages.push({ 'role': 'user', 'content': transcription })
        messages.push({ 'role': 'assistant', 'content': responseText })
        playResponse(data['audioUrl']);
        console.log(messages);
        status = 'ready';
        document.getElementById('statusText').innerHTML = 'Valmis';
      })
      .catch(function(error) {
        console.error('Error:', error);
        status = 'error';
      });
    }

    function playGreeting() {
      const audioUrl = 'https://public-bucket-jk.s3.eu-central-1.amazonaws.com/hei_kuka_sina_olet.mp3';
      const audio = new Audio(audioUrl);
      audio.play();
    }

    function playWaitASecond() {
      const audioUrl = 'https://public-bucket-jk.s3.eu-central-1.amazonaws.com/odota_hetki_kun_mietin.mp3';
      const audio = new Audio(audioUrl);
      audio.play();
    }

    function playResponse(audioUrl) {
      const audio = new Audio(audioUrl);
      audio.play();
    }

    function keyDownHandler(event) {
      console.log('Pressed key', event.code)
      if (event.code === 'Space') {
        if (status === 'ready') {
          startRecording()
        }
      }
    }

    function keyUpHandler(event) {
      console.log('Released key', event.code)
      if (event.code === 'Space') {
        if (status === 'recording') {
          stopRecording()
        }
      }
    }

    document.getElementById('startButton').addEventListener('click', startRecording);
    document.getElementById('stopButton').addEventListener('click', stopRecording);
    document.getElementById('playButton').addEventListener('click', playGreeting);
    const echoCheckbox = document.getElementById('echoCheckbox')
    echoCheckbox.addEventListener('change', () => {
      if (echoCheckbox.checked) {
        echo = 'Yes';
      } else {
        echo = '';
      }
    });
    document.addEventListener("DOMContentLoaded", playGreeting);
    document.addEventListener("keydown", keyDownHandler);
    document.addEventListener("keyup", keyUpHandler);
    document.getElementById('statusText').innerHTML = 'Valmis';
  </script>
</body>
</html>
